{% extends 'AppBundle::forms_layout.html.twig' %}

{% block body -%}
    <h1>VbaPost creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_post') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
