
     
      <!-- Blog Section -->
      <section id="blog" class="text-left">
         <div class="container">
            <div class="section-title center wow fadeIn">
               <h2>{% trans %}blog_my_journal{% endtrans %}</h2>
               <div class="line">
               </div>
               <p>{% trans %}blog_intro{% endtrans %}</p>
            </div>
            <div class="space"></div>
            <div id="blog-masonry">
               <div class="col-md-4 col-sm-6 blog wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                  <span>23<br>Oct</span>
                  <img src="img/blog/1.jpg" alt="..." class="post-img">
                  <h3><a href="#">Journal post with image</a></h3>
                  <h4>By John Doe . 23 Oct 2015</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                     tempor incididunt ut labore et dolore magna aliqua.
                  </p>
                  <a href="#" class="read-more">Read more <i class="fa fa-angle-right"></i></a>
               </div>
               <div class="col-md-4 col-sm-6 blog wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">
                  <span>16<br>Aug</span>
                  <img src="img/blog/2.jpg" alt="..." class="post-img">
                  <h3><a href="#">Simple journal post</a></h3>
                  <h4>By John Doe . 16 Aug 2015</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                     tempor incididunt ut labore et dolore magna aliqua.
                  </p>
                  <a href="#" class="read-more">Read more <i class="fa fa-angle-right"></i></a>
               </div>
               <div class="col-md-4 col-sm-6 blog wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
                  <span>24<br>May</span>
                  <img src="img/blog/3.jpg" alt="..." class="post-img">
                  <h3><a href="#">Journal post with image</a></h3>
                  <h4>By John Doe . 24 May 2015</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                     tempor incididunt ut labore et dolore magna aliqua.
                  </p>
                  <a href="#" class="read-more">Read more <i class="fa fa-angle-right"></i></a>
               </div>
               <div class="col-md-4 col-sm-6 blog wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                  <span>23<br>Oct</span>
                  <img src="img/blog/4.jpg" alt="..." class="post-img">
                  <h3><a href="#">Journal post with image</a></h3>
                  <h4>By John Doe . 23 Oct 2015</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                     tempor incididunt ut labore et dolore magna aliqua.
                  </p>
                  <a href="#" class="read-more">Read more <i class="fa fa-angle-right"></i></a>
               </div>
               <div class="col-md-4 col-sm-6 blog wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">
                  <span>16<br>Aug</span>
                  <img src="img/blog/5.jpg" alt="..." class="post-img">
                  <h3><a href="#">Simple journal post</a></h3>
                  <h4>By John Doe . 16 Aug 2015</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                     tempor incididunt ut labore et dolore magna aliqua.
                  </p>
                  <a href="#" class="read-more">Read more <i class="fa fa-angle-right"></i></a>
               </div>
               <div class="col-md-4 col-sm-6 blog wow fadeIn" data-wow-duration="1s" data-wow-delay="0.7s">
                  <span>24<br>May</span>
                  <img src="img/blog/6.jpg" alt="..." class="post-img">
                  <h3><a href="#">Journal post with image</a></h3>
                  <h4>By John Doe . 24 May 2015</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                     tempor incididunt ut labore et dolore magna aliqua.
                  </p>
                  <a href="#" class="read-more">Read more <i class="fa fa-angle-right"></i></a>
               </div>
            </div>
         </div>
      </section>