<!-- Home Section -->
      <section id="home" class="text-center">
         <div class="content wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
            <h1>{% trans %}home_i_am_name{% endtrans %}</h1>
            <hr>
            <p class="lead">{% trans %}home_intro{% endtrans %}</p>
            </div>
      </section>