  <!-- Resume Section -->
      <section id="resume" class="education">
         <div class="container">
            <div class="section-title center">
               <h2>{% trans %}resume_title{% endtrans %}</h2>
               <div class="line">
               </div>
               <p>{% trans %}resume_intro{% endtrans %}</p>
            </div>
            <div class="space"></div>
            <div class="row">
               <div class="holder">
                  <div class="col-md-6 col-sm-6 wow fadeInUp">
                     <i class="icon icon-documents"></i>
                     <h2>{% trans %}education_title{% endtrans %}</h2>
                     <p>{% trans %}education_intro_01{% endtrans %} </p>
                     {#<p>{% trans %}education_intro_02{% endtrans %}</p>#}
                  </div>
                  <div class="col-md-6 col-sm-6">
                     <article class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                        <h3>{% trans %}education_degree_title_01{% endtrans %}</h3>
                        <p class="info-line">{% trans %}education_degree_place_and_data_01{% endtrans %}</p>
                        <p class="years">{% trans %}education_degree_status_01{% endtrans %}</p>
                        <div class="divider"></div>
                        <p>{% trans %}education_degree_description_01{% endtrans %}</p>
                     </article>
                     <article class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                        <h3>{% trans %}education_degree_title_02{% endtrans %}</h3>
                        <p class="info-line">{% trans %}education_degree_place_and_data_02{% endtrans %}</p>
                        <p class="years">{% trans %}education_degree_status_02{% endtrans %}</p>
                        <div class="divider"></div>
                        <p>{% trans %}education_degree_description_02{% endtrans %}</p>
                     </article>
                  </div>
               </div>
               <div class="col-md-6 col-sm-6 wow fadeInUp">
                  <i class="icon icon-briefcase"></i>
                  <h2>{% trans %}experience_title{% endtrans %}</h2>
                  <p>{% trans %}experience_intro_01{% endtrans %} </p>
                  <p>{% trans %}experience_intro_02{% endtrans %}</p>
               </div>
               <div class="col-md-6 col-sm-6">
                  <article class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                     <h3>{% trans %}experience_work_01{% endtrans %}</h3>
                     <p class="info-line">{% trans %}experience_work_place_and_data_01{% endtrans %}</p>
                     {#<p class="years">{% trans %}experience_work_time_01{% endtrans %}</p>#}
                     <div class="divider"></div>
                     <p>{% trans %}experience_work_description_01{% endtrans %}</p>
                  </article>
                  <article class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                     <h3>{% trans %}experience_work_02{% endtrans %}</h3>
                     <p class="info-line">{% trans %}experience_work_place_and_data_02{% endtrans %}</p>
                     {#<p class="years">{% trans %}experience_work_time_02{% endtrans %}</p>#}
                     <div class="divider"></div>
                     <p>{% trans %}experience_work_description_02{% endtrans %}</p>
                  </article>
                  
                   <article class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                     <h3>{% trans %}experience_work_03{% endtrans %}</h3>
                     <p class="info-line">{% trans %}experience_work_place_and_data_03{% endtrans %}</p>
                     {#<p class="years">{% trans %}experience_work_time_03{% endtrans %}</p>#}
                     <div class="divider"></div>
                     <p>{% trans %}experience_work_description_03{% endtrans %}</p>
                  </article>
                  
                  
                  
                   <article class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                     <h3>{% trans %}experience_work_04{% endtrans %}</h3>
                     <p class="info-line">{% trans %}experience_work_place_and_data_04{% endtrans %}</p>
                     {#<p class="years">{% trans %}experience_work_time_04{% endtrans %}</p>#}
                     <div class="divider"></div>
                     <p>{% trans %}experience_work_description_04{% endtrans %}</p>
                  </article>
                  
                  
                  
                   <article class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                     <h3>{% trans %}experience_work_05{% endtrans %}</h3>
                     <p class="info-line">{% trans %}experience_work_place_and_data_05{% endtrans %}</p>
                     {#<p class="years">{% trans %}experience_work_time_05{% endtrans %}</p>#}
                     <div class="divider"></div>
                     <p>{% trans %}experience_work_description_05{% endtrans %}</p>
                  </article>
                  
                  
                   <article class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                     <h3>{% trans %}experience_work_06{% endtrans %}</h3>
                     <p class="info-line">{% trans %}experience_work_place_and_data_06{% endtrans %}</p>
                     {#<p class="years">{% trans %}experience_work_time_06{% endtrans %}</p>#}
                     <div class="divider"></div>
                     <p>{% trans %}experience_work_description_06{% endtrans %}</p>
                  </article>
                  
                  
                   
                  
                  
                  
                  {#<article class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                     <h3>Senior UI / UX Designer</h3>
                     <p class="info-line"><span>State Art company</span>  /  Jun 2012 - May 2014</p>
                     <p class="years">1 Year</p>
                     <div class="divider"></div>
                     <p>Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei.</p>
                  </article>#}
               </div>
            </div>
         </div>
      </section>