
    <!-- Services Section -->
      <section id="services" class="text-left">
         <div class="container">
            <div class="section-title center">
               <h2>{% trans %}services_title{% endtrans %}</h2>
               <div class="line">
               </div>
               <p>{% trans %}services_intro{% endtrans %}</p>
            </div>
            <div class="space"></div>
            <div class="row">
               <div class="col-md-4 col-sm-6 service wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                  <i class="icon icon-camera"></i>
                  <h4>{% trans %}services_01_title{% endtrans %}</h4>
                  <p>{% trans %}services_01_intro{% endtrans %}</p>
               </div>
               <div class="col-md-4 col-sm-6 service wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
                  <i class="icon icon-wallet"></i>
                  <h4>{% trans %}services_02_title{% endtrans %}</h4>
                  <p>{% trans %}services_02_intro{% endtrans %}</p>
               </div>
               <div class="col-md-4 col-sm-6 service wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">
                  <i class="icon icon-tools"></i>
                  <h4>{% trans %}services_03_title{% endtrans %}</h4>
                  <p>{% trans %}services_03_intro{% endtrans %}</p>
               </div>
               <div class="col-md-4 col-sm-6 service wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
                  <i class="icon icon-mobile"></i>
                  <h4>{% trans %}services_04_title{% endtrans %}</h4>
                  <p>{% trans %}services_04_intro{% endtrans %}</p>
               </div>
               <div class="col-md-4 col-sm-6 service wow fadeIn" data-wow-duration="1s" data-wow-delay="1s">
                  <i class="icon icon-video"></i>
                  <h4>{% trans %}services_05_title{% endtrans %}</h4>
                  <p>{% trans %}services_05_intro{% endtrans %}</p>
               </div>
               <div class="col-md-4 col-sm-6 service wow fadeIn" data-wow-duration="1s" data-wow-delay="1.2s">
                  <i class="icon icon-telescope"></i>
                  <h4>{% trans %}services_06_title{% endtrans %}</h4>
                  <p>{% trans %}services_06_intro{% endtrans %}</p>
               </div>
            </div>
         </div>
      </section>