  
   
    
      <!-- Team Section -->
      <section id="team" class="text-center">
         <div class="overlay">
            <div class="container">
               <div class="section-title center">
                  <h2>Our <mark>Team</mark></h2>
                  <div class="line">
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ut labore et<br> dolore.</p>
               </div>
               <div class="team owl-carousel owl-theme row wow fadeInUp">
                  <div class="item">
                     <div class="thumbnail">
                        <div class="social">
                           <div class="icon facebook">
                              <a href="#">
                              <i class="fa fa-facebook"></i>
                              </a>
                           </div>
                           <div class="icon twitter">
                              <a href="#">
                              <i class="fa fa-twitter"></i>
                              </a>
                           </div>
                           <div class="icon linkedin">
                              <a href="#">
                              <i class="fa fa-linkedin"></i>
                              </a>
                           </div>
                        </div>
                        <img src="img/team/placeholder.jpg" alt="..." class="team-img">
                        <div class="caption">
                           <h3>Johanson Doe</h3>
                           <p>Founder</p>
                        </div>
                     </div>
                  </div>
                  <div class="item">
                     <div class="thumbnail">
                        <div class="social">
                           <div class="icon facebook">
                              <a href="#">
                              <i class="fa fa-facebook"></i>
                              </a>
                           </div>
                           <div class="icon twitter">
                              <a href="#">
                              <i class="fa fa-twitter"></i>
                              </a>
                           </div>
                           <div class="icon linkedin">
                              <a href="#">
                              <i class="fa fa-linkedin"></i>
                              </a>
                           </div>
                        </div>
                        <img src="img/team/placeholder.jpg" alt="..." class="team-img">
                        <div class="caption">
                           <h3>James Arron</h3>
                           <p>Front-end Developer</p>
                        </div>
                     </div>
                  </div>
                  <div class="item">
                     <div class="thumbnail">
                        <div class="social">
                           <div class="icon facebook">
                              <a href="#">
                              <i class="fa fa-facebook"></i>
                              </a>
                           </div>
                           <div class="icon twitter">
                              <a href="#">
                              <i class="fa fa-twitter"></i>
                              </a>
                           </div>
                           <div class="icon linkedin">
                              <a href="#">
                              <i class="fa fa-linkedin"></i>
                              </a>
                           </div>
                        </div>
                        <img src="img/team/placeholder.jpg" alt="..." class="team-img">
                        <div class="caption">
                           <h3>Karen roberts</h3>
                           <p>Creative Director</p>
                        </div>
                     </div>
                  </div>
                  <div class="item">
                     <div class="thumbnail">
                        <div class="social">
                           <div class="icon facebook">
                              <a href="#">
                              <i class="fa fa-facebook"></i>
                              </a>
                           </div>
                           <div class="icon twitter">
                              <a href="#">
                              <i class="fa fa-twitter"></i>
                              </a>
                           </div>
                           <div class="icon linkedin">
                              <a href="#">
                              <i class="fa fa-linkedin"></i>
                              </a>
                           </div>
                        </div>
                        <img src="img/team/placeholder.jpg" alt="..." class="team-img">
                        <div class="caption">
                           <h3>James Lannister</h3>
                           <p>Back-end Developer</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>