      
  

      <!-- About team Section -->
      <section id="team-about">
         <div class="container">
            <div class="row">
               <div class="col-md-7 col-sm-7 bio">
                  <div class="about-text">
                     <div class="section-title">
                        <h3>Our team skills</h3>
                        <hr>
                        <div class="clearfix"></div>
                     </div>
                     <p class="intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate.
                     </p>
                     <p class="intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt.
                     </p>
                  </div>
               </div>
               <div class="col-md-5 col-sm-5 skills">
                  <h6 class="progress-title">DESIGNING</h6>
                  <div data-progress="80" class="skills-item wow">
                     <div class="skills-item-progress">
                        <span class="counter">
                        <span class="count">80</span>
                        %
                        </span>
                     </div>
                  </div>
                  <h6 class="progress-title">DEVELOPMENT</h6>
                  <div data-progress="90" class="skills-item wow">
                     <div class="skills-item-progress">
                        <span class="counter">
                        <span class="count">90</span>
                        %
                        </span>
                     </div>
                  </div>
                  <h6 class="progress-title">Marketing</h6>
                  <div data-progress="60" class="skills-item wow">
                     <div class="skills-item-progress">
                        <span class="counter">
                        <span class="count">60</span>
                        %
                        </span>
                     </div>
                  </div>
                  <h6 class="progress-title">SUPPORT</h6>
                  <div data-progress="70" class="skills-item wow">
                     <div class="skills-item-progress">
                        <span class="counter">
                        <span class="count">70</span>
                        %
                        </span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>