

<script type="text/javascript">

    function getItemElements(type) {
        $.ajax({
            type: "get",
            url: "{{path("ajax_works")}}",
            data: 'type=' + type,
            dataType: "json",
            async: false,
            beforeSend: function (xhr) {
                if (xhr && xhr.overrideMimeType) {
                    xhr.overrideMimeType('application/json;charset=utf-8');
                }
            },
            success: function (data) {
                $("#lightbox").html("");
                $("#lightbox").append(data.items);
            }
        });

    }

    $(document).ready(function () {

    {#var limit_posts = 6;
    var offset_posts = -6;

    var $container = $('#blog-masonry');
    $container.imagesLoaded(function () {
        // init Isotope after all images have loaded
        $container.isotope({
            // options
            itemSelector: '.blog',
            masonry: {
                //columnWidth: 160,
                isFitWidth: true
            }
        });
    });

    $('.append-button').on('click', function () {
        // create new item elements
        getItemElements();

        $container.isotope('destroy'); //destroying isotope
        $container = $('#blog-masonry');
        $container.imagesLoaded(function () {
            // init Isotope after all images have loaded
            $container.isotope({
                // options
                itemSelector: '.blog',
                masonry: {
                    //columnWidth: 160,
                    isFitWidth: true
                }
            });
        });


        $('html, body').animate({scrollTop: $("#posts_button").offset().top - 1400}, 1000);

    });#}
                getItemElements(1);
            });



</script>





<!-- Portfolio Section -->
<section id="works">
    <div class="container">
        <div class="section-title text-center center wow fadeInUp">
            <h2>{% trans %}works_our{% endtrans %}</h2>
            <div class="line">
            </div>
            <p>{% trans %}works_intro{% endtrans %}</p>
        </div>
        <div class="space"></div>
        <div class="categories">
            <ul class="cat text-center">
                <li>
                    <ol id="filters" class="type">
                        {#<li><a href="#" data-filter="*" class="active">{% trans %}works_type_all{% endtrans %}</a></li>#}
                            {% for type in types %}

{#                                {% if type.id == 1 %}
                                    {% set classe = 'active' %}
                                {% else %}
                                    {% set classe = '' %}
                                {% endif %}#}


                            <li><a href="#" class="" onclick="getItemElements({{type.id}});
                                    return false;" data-filter=".{{type.id}}">{{ type}}</a></li>
                            {% endfor %}


                    </ol>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div id="lightbox" class="row wow fadeInUp">



        </div>
    </div>
</section>